<div class="row content">
  <div class="col-sm-2 sidenav">
    <p>Meet Jimmy Newtron,</p>
    <p>Wddit's resident biology contributor.</p>
    <p>Check out his portfolio <a href="www.reddit.com">here</a></p>
    <p></p>
  </div>
  <div class="col-sm-8 text-left">
    <h1>You've got intellectual depth... </h1>
    <p>and you want to hear from like-minded individuals? Whether you're seeking ideas, exchange or you simply want to socilaise, this is the place where it all happens.</p>
    <p>Register or login now!</p>
    <hr>
    <h3>What our users are talking about ...</h3>
    <h4>Restaurant Gives Diner A $30.95 ‘Seen Rat’ Discount</h4>
    <p>A restaurant in Folsom, California, has egg on its face after the bizarre customer service reportedly offered a customer who claimed she saw a rat on the premises.

She didn’t receive a free meal, just a $30.95 discount off her $116.80 bill and a note on the receipt that said “SEEN RAT” in all caps.

The woman’s friend, Jackie Logan, photographed the rat receipt and posted it to Facebook, along with the following account of the incident, to let other area diners know what happened.

The female diner ― who has not been identified and who her friend wrote isn’t on Facebook ― was eating at Fat’s Asian Bistro last Thursday when she saw a rat run over her feet.

The woman notified a server about the rat, but no manager came over to her table to apologize, according to the Facebook post. Another couple in the restaurant apparently left.

Meanwhile, the server asked if anyone wanted dessert before bringing over the bill with the $30.95 discount.</p>
  </div>
  <div class="col-sm-2 sidenav">
    What's trending...
    <div class="well">
      <a href="http://www.bbc.com/news/world-us-canada-38764079"><small>Trump seeks Mexican import tax to pay for border wall</small></a>
    </div>
    <div class="well">
      <a href="http://www.bbc.com/news/world-38760792"><small>Apocalypse is 30 seconds closer, say Doomsday Clock scientists</small></a>
    </div>
    <div class="well">
      <a href="https://www.theguardian.com/science/2017/jan/26/first-human-pig-chimera-created-in-milestone-study"><small>First human-pig 'chimera' created in milestone study</small></a>
    </div>
  </div>
</div>
</div>
