<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Wddit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>

  </head>
  <body>
    <% if (currentUser) { %>
        <% include ./post/partials/navbar %>
    <% } else { %>
      <% include ./auth/partials/navbar %>
    <% } %>

    <% include ./partials/alerts %>
  <div class="container-fluid text-center">

     <%- body %>
  </div>
  <footer class="container-fluid text-center">
    <p>Wddit by Olico 2017</p>
  </footer



  </body>
  </html>
