
    <% if (!editField) { %>
    <p><%=post.comments[i].text%></p>
    <% } else { %>
      <form method="post" action="/post/<%=post._id%>/<%=post.comments[i]._id%>/edit/?_method=PUT"role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" name="text"><%=editField.text%></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    <% } %>
    <br>
    <hr>

    <% } %>
